:root {
  --main-clr: #518581;
  --sec-clr: #ffb23f;
  --text-clr: #272621;
  --paragraph-clr: #9a9898;
  --placeholder-clr: #f9f9f9;
  --screen-clr: #ffffff;
  --line-clr: #f3f3f3;

  /* --fz-64: 4rem;
  --fz-44: 2.75rem;
  --fz-26: 1.625rem;
  --fz-24: 1.5rem;
  --fz-20: 1.25rem;
  --fz-18: 1.125rem;
  --fz-14: 0.875rem; */

  /* wrong variable name, but work, because i set lower litle bit */

  --fz-64: 1.625rem;
  --fz-44: 1.5rem;
  --fz-26: 1.25rem;
  --fz-24: 1.125rem;
  --fz-20: 1rem;
  --fz-18: 0.875rem;
  --fz-14: 0.75rem;
  --fz-12: 0.625rem;

  --fw-700: 700;
  --fw-500: 500;

  --lh-180: 1.8em;
  --lh-130: 1.3em;
}

* {
  font-family: 'Eudoxus sans', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* set font weight ke 500 untuk paragraph */
p {
  font-weight: 500;
  color: var(--paragraph-clr);
  line-height: var(--lh-180);
  font-size: var(--fz-18);
}

body {
  background-color: var(--screen-clr);
}

.container {
  width: 95%;
  max-width: 77rem;
  margin: 0 auto;
  margin-bottom: 11.25em;
}

/* nav start */
nav {
  z-index: 2;
  border-bottom: var(--line-clr) solid 2px;
  position: sticky;
  top: 0;
  background-color: var(--screen-clr);
  margin-bottom: 6.25em;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0;
  margin-bottom: 0;
  position: relative;
}

.nav-wrapper .nav-toggle {
  position: absolute;
  top: 1.4rem;
  right: 0;
  cursor: pointer;
}

.nav-wrapper .box-logo {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.nav-wrapper .nav-item {
  margin: 0 auto;
  display: none;
  flex-direction: column;
  gap: 0.75em;
  align-items: center;
  color: var(--text-clr);
  font-weight: var(--fw-500);
  white-space: nowrap;
}

.nav-wrapper .nav-item a {
  color: var(--text-clr);
  font-weight: var(--fw-500);
  font-size: var(--fz-18);
  white-space: nowrap;
  text-transform: capitalize;
}

.nav-wrapper .nav-item a:hover {
  color: hsl(50, 10%, 34%);
}

.nav-wrapper .user {
  display: none;
  align-items: center;
  gap: 1.5em;
  justify-content: flex-end;
  margin: 0 auto;
}

.user a img {
  width: 2rem;
}

.nav-wrapper .nav-item.active {
  display: flex;
}
.nav-wrapper .user.active {
  display: flex;
}

/* nav end */

/* header start */
.header-wrapper {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(6, 1fr);

  grid-template-areas:
    'arrow h1 h1 h1 h1 .'
    'arrow p p p p .'
    'search search search search search search'
    'ft ft ft ft ft ft';
}

.header-wrapper .arrow-box {
  grid-area: arrow;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.arrow-box .arrow-line {
  width: min(80%, 5rem);
}

.header-wrapper .heading {
  grid-area: h1;
  text-align: center;
  font-size: var(--fz-64);
  line-height: var(--lh-130);
  color: var(--text-clr);
}

.header-wrapper .heading span img {
  margin-left: -0.3em;
  aspect-ratio: 1 /1;
  width: 1em;
}

.header-wrapper .subheading {
  grid-area: p;
  text-align: center;
  padding: 0 2em;
}

.header-wrapper .search-bar {
  grid-area: search;
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--screen-clr);
  box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
  padding: 1em;
}

.header-wrapper .search-bar .search {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.header-wrapper .search-bar .search img {
  width: 1.5em;
}

.header-wrapper .search-bar .search input {
  outline: none;
  border: 0;
  color: var(--paragraph-clr);
  font-weight: var(--fw-500);
  font-size: var(--fz-14);
  padding: 0.875em 0;
  width: 100%;
}

.header-wrapper .search-bar .search input::placeholder {
  color: var(--paragraph-clr);
  font-size: var(--fz-14);
}

.header-wrapper .search-bar .search-box {
  padding: 1em 2.875em;
  background-color: var(--main-clr);
  color: var(--screen-clr);
  font-weight: var(--fw-700);
  font-size: var(--fz-14);
  text-transform: capitalize;
}

.header-wrapper .sofa {
  grid-area: ft;
  width: 100%;
  margin-top: -1em;
  z-index: -1;
}
/* header end */

/* benefit section start */
.benefit-wrapper h5 {
  font-size: var(--fz-18);
  color: var(--sec-clr);
  margin-bottom: 0.875em;
}

.benefit-wrapper .benefit-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.benefit-wrapper .benefit-header .heading {
  max-width: 31.25rem;
  line-height: var(--lh-130);
  color: var(--text-clr);
  font-size: var(--fz-44);
}

.benefit-wrapper .benefit-header .subheading {
  max-width: 31.25rem;
}

.benefit-wrapper .benefit-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875em;
  margin-top: 3em;
}

.benefit-wrapper .benefit-box .benefit-box-list {
  box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
  background-color: var(--screen-clr);
  padding: 1.5em;
}

.benefit-wrapper .benefit-box .benefit-box-list img {
  padding: 1em;
  background-color: var(--placeholder-clr);
  border-radius: 100%;
}

.benefit-wrapper .benefit-box .benefit-box-list h3 {
  margin: 1em 0;
  color: var(--text-clr);
}
/* benefit section end */

/* product section start */
.product-btn-wrapper {
  text-align: center;
  margin-bottom: 0;
}

.product-btn-wrapper h5 {
  font-size: var(--fz-18);
  color: var(--sec-clr);
  margin-bottom: 0.875em;
}

.product-btn-wrapper .heading {
  line-height: var(--lh-130);
  color: var(--text-clr);
  font-size: var(--fz-44);
  margin-bottom: 1.875rem;
}

.product-btn-wrapper .subheading {
  max-width: 41rem;
  margin: 0 auto;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 0;
}

.btn-wrapper .btn {
  border-radius: 100em;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  background-color: hsla(45, 11%, 7%, 0.6);
  z-index: 1;
  display: grid;
  place-items: center;
}
.btn-wrapper .btn:hover {
  background-color: hsla(45, 11%, 7%, 0.5);
}

.btn-wrapper .btn img {
  width: 1rem;
}

#left-btn {
  transform: scaleX(-1);
}

.product-wrapper {
  margin: 0 auto;
  margin-top: -10rem;
  /* margin-bottom: 11.25em; */
  max-width: 90rem;
  height: 35rem;
  position: relative;
  overflow: hidden;
}

.product-scroll-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 1.875em;
  position: absolute;
  left: 0;
  transition: all 0.5s ease-out;
}

.product-scroll-wrapper .product-list .box-img {
  width: 13.75rem;
  height: 12.125rem;
  overflow: hidden;
}

.product-scroll-wrapper .product-list .box-img img {
  height: 100%;
}

.product-scroll-wrapper .product-list h3 {
  color: var(--text-clr);
}

.product-scroll-wrapper .product-list h5 {
  font-size: var(--fz-18);
  color: var(--paragraph-clr);
  margin-top: 1.625em;
  margin-bottom: 0.875em;
  text-transform: capitalize;
}

.product-scroll-wrapper .product-list h3 {
  font-size: var(--fz-26);
  columns: var(--text-clr);
  margin-bottom: 6px;
}

.product-scroll-wrapper .product-list .price {
  margin-top: 1em;
}

/* product section end */

/* our product section start */
.our-product-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
}

.our-product-wrapper .content-left h5 {
  font-size: var(--fz-18);
  color: var(--sec-clr);
  margin-bottom: 0.875em;
}

.our-product-wrapper .content-left h2 {
  line-height: var(--lh-130);
  color: var(--text-clr);
  font-size: var(--fz-44);
  margin-bottom: 1.875rem;
}

.our-product-wrapper .content-left p {
  margin: 3rem 0;
}

.our-product-wrapper .content-left button {
  background-color: var(--main-clr);
  padding: 1em 2em;
  outline: none;
  cursor: pointer;
  border: none;
  margin-bottom: 4.125em;
}
.our-product-wrapper .content-left button:hover {
  background-color: hsl(175, 24%, 50%);
}

.our-product-wrapper .content-left button a {
  color: var(--screen-clr);
  font-weight: var(--fw-700);
  font-size: var(--fz-18);
}

.our-product-wrapper .content-left img {
  width: 90%;
}

.our-product-wrapper .content-right .data {
  /* justify-content: flex-end; */
  display: flex;
  gap: 2.6em;
}

.our-product-wrapper .content-right .data .data-list {
  margin-top: 3em;
  margin-bottom: 3.75em;
}

.our-product-wrapper .content-right .data .data-list h2 {
  font-size: var(--fz-44);
  color: var(--text-clr);
}

.our-product-wrapper .content-right img {
  width: 90%;
}
/* our product section end */

/* testimonial section start */
.testimonial-wrapper .h5-yellow {
  text-align: center;
  font-size: var(--fz-18);
  color: var(--sec-clr);
  margin-bottom: 0.875em;
}

.testimonial-wrapper .heading {
  line-height: var(--lh-130);
  color: var(--text-clr);
  font-size: var(--fz-44);
  margin-bottom: 1.875rem;
  text-align: center;
}

.testimonial-wrapper .subheading {
  text-align: center;
  max-width: 41rem;
  margin: 0 auto;
  margin-bottom: 3em;
}

.testimonial-wrapper .testimonial-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.testimonial-wrapper .testimonial-box .testimonial-list {
  padding: 1.5em;
  box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
  background-color: var(--screen-clr);
}

.testimonial-wrapper .testimonial-box .testimonial-list p {
  margin: 1.5em 0;
}

.testimonial-wrapper .testimonial-box .testimonial-list .testimonial-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-list .testimonial-profile span {
  display: flex;
  align-items: center;
}

.testimonial-list .testimonial-profile span span{
  clip-path: circle(50% at 50% 50%);
  width: 3rem;
  height: 3rem;
}

.testimonial-list .testimonial-profile span span img{
  width: 100%;
}

.testimonial-list .testimonial-profile span h4 {
  color: var(--text-clr);
  font-size: var(--fz-20);
  margin-left: 0.6rem;
}

.testimonial-list .testimonial-profile span h5 {
  margin-left: 0.6rem;
  font-size: var(--fz-18);
  color: var(--text-clr);
}
/* testimonial section end */

/* article section start */
.article-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    'head'
    'main'
    'btn'
    ' article1'
    ' article2'
    ' article3';
  grid-template-columns: 1fr;
}

.article-wrapper .head {
  grid-area: head;
}

.article-wrapper .head h5 {
  font-size: var(--fz-18);
  color: var(--sec-clr);
  margin-bottom: 0.875em;
}

.article-wrapper .head h2 {
  line-height: var(--lh-130);
  color: var(--text-clr);
  font-size: var(--fz-44);
  margin-bottom: 0.875rem;
}

.article-wrapper .main-article {
  grid-area: main;
  background: linear-gradient(
      180deg,
      rgba(21, 20, 17, 0) 34.49%,
      #151411 166.09%
    ),
    url(../img/products/bunga.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
  min-height: 26rem;
}

.article-wrapper .main-article .description-box {
  padding: 1.5em;
}

.main-article .description-box p {
  color: var(--screen-clr);
}

.main-article .description-box h4 {
  font-size: var(--fz-26);
  color: var(--screen-clr);
  margin: 0.3em 0;
}

.main-article .description-box .description {
  height: 2rem;
  margin-bottom: 1em;
  overflow: hidden;
}

.main-article .description-box a {
  color: var(--screen-clr);
  text-decoration: underline;
}

.article-wrapper .couple-btn {
  grid-area: btn;
  display: flex;
  justify-content: flex-end;
}

.article-wrapper .couple-btn .btn {
  padding: 1.3125em;
  cursor: pointer;
  border: none;
  margin-top: -5em;
}

.article-wrapper .couple-btn .left-btn {
  background-color: var(--screen-clr);
}
.article-wrapper .couple-btn .left-btn:hover {
  background-color: #f3f3f3;
}

.article-wrapper .couple-btn .right-btn {
  background-color: var(--main-clr);
}
.article-wrapper .couple-btn .right-btn:hover {
  background-color: hsl(175, 24%, 50%);
}

.article-wrapper .couple-btn .btn img {
  width: 1.5rem;
}

.article-wrapper .article1 {
  grid-area: article1;
}
.article-wrapper .article2 {
  grid-area: article2;
}
.article-wrapper .article3 {
  grid-area: article3;
}

.article-wrapper .article-box {
  display: flex;
  justify-content: space-between;
  gap: 1.625em;
}

.article-wrapper .article-box .img-box {
  max-width: 16.25rem;
  aspect-ratio: 1/1;
}

.article-wrapper .article-box .img-box img {
  max-width: 10em;
}

.article-wrapper .article-box .article-desc h3 {
  color: var(--text-clr);
  font-size: var(--fz-20);
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.article-desc .desc {
  height: 2rem;
  overflow: hidden;
}

.article-box .article-desc .article-author {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.article-desc .article-author span {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.article-desc .article-author span h6 {
  font-size: var(--fz-14);
  color: var(--text-clr);
}

.article-desc .article-author p {
  font-size: var(--fz-12);
}
/* article section end */
.join-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5.3rem;
}

.join-wrapper h2 {
  font-size: var(--fz-44);
  color: var(--text-clr);
}
.join-wrapper button {
  background-color: #518581;
  padding: 1rem 2rem;
  height: 3.5rem;
  width: fit-content;
  font-size: var(--fz-18);
  color: var(--screen-clr);
  border: none;
  white-space: nowrap;
  cursor: pointer;
}
.join-wrapper button:hover {
  background-color: hsl(175, 24%, 50%);
}

.join-wrapper button img {
  margin-left: 1rem;
  width: 1.5em;
}

/* footer start */

footer {
  width: 95%;
  max-width: 77rem;
  margin: 0 auto;
  padding-top: 3.75rem;
  padding-bottom: 4.8rem;
  border-top: #ece4de 2px solid;
}

footer .content-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

footer .content-left .box-logo {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.75em;
}

footer .content-left p {
  max-width: 31.5rem;
  margin-top: 2.2rem;
  color: var(--text-clr);
  font-size: var(--fz-18);
}

footer .content-right {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

footer .content-right ul li {
  list-style: none;
  margin-bottom: 1.3em;
  font-size: var(--fz-18);
}

footer .content-right ul .strong {
  font-weight: var(--fw-700);
  font-size: var(--fz-20);
  color: var(--text-clr);
}

footer .content-right ul li a {
  color: var(--text-clr);
  white-space: nowrap;
}
footer .content-right ul li a:hover {
  color: hsl(49, 7%, 32%);
}

footer .copyright {
  text-align: center;
}
footer .copyright a {
  color: var(--main-clr);
}

@media (min-width: 27rem) {
  :root {
    --fz-64: 2.75rem;
    --fz-44: 1.625rem;
    --fz-26: 1.5rem;
    --fz-24: 1.25rem;
    --fz-20: 1.125rem;
    --fz-18: 1rem;
    --fz-14: 0.875rem;
    --fz-12: 0.75rem;
  }

  .product-scroll-wrapper .product-list .box-img {
    width: 18.5rem;
    height: 16.5rem;
  }

  .btn-wrapper {
    margin-top: 14rem;
  }

  .product-wrapper {
    margin-top: -14rem;
    margin-bottom: 6em;
  }

  .btn-wrapper .btn img {
    width: 1.5rem;
  }

  .join-wrapper {
      flex-direction: row;
  }

  .article-wrapper .article-box .img-box img {
    max-width: 12em;
  }
}

@media (min-width: 48rem) {
  p {
    font-size: 1rem;
  }

  .nav-wrapper {
      padding: 2.5em 0;
  }

  .nav-wrapper .nav-toggle {
    display: none;
  }
  .nav-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .nav-wrapper .nav-item {
    display: flex;
    flex-direction: row;
    gap: 3.75em;
  }

  .nav-wrapper .user {
    display: flex;
    margin: 0;
  }

  .header-wrapper {
    grid-template-areas:
      'arrow h1 h1 h1 h1 .'
      'arrow p p p p .'
      '. search search search search .'
      'ft ft ft ft ft ft';
  }
  .header-wrapper .sofa {
    margin-top: -4em;
  }

  .benefit-wrapper .benefit-header {
    flex-direction: row;
  }

  .benefit-wrapper .benefit-box {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-scroll-wrapper .product-list .box-img {
    width: 24.5rem;
    height: 22.5rem;
  }

  .our-product-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .our-product-wrapper .content-left img {
    width: 100%;
  }
  .our-product-wrapper .content-right img {
    width: 100%;
  }

  footer .content-top {
    flex-direction: row;
  }

  footer .content-right {
    gap: 6rem;
    justify-content: flex-start;
  }

  .btn-wrapper {
    margin-top: 18.5rem;
  }

  .product-wrapper {
    margin-top: -18.5rem;
    margin-bottom: 11.25em;
  }
}

@media (min-width: 60rem) {
  .article-wrapper {
    grid-template-areas:
      'head article1'
      'main article2'
      'main article3'
      'btn .';
    grid-template-columns: 1fr 1fr;
  }
  .testimonial-wrapper .testimonial-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
